.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0 20px;
  flex-wrap: wrap;
  margin-bottom: 35px;
  &__item {
    position: relative;
    &::before {
      content: '>';
      position: absolute;
      top: 4px;
      right: -12px;
      color: #909BAD;
      font-size: 12px;
      line-height: 14px;
    }
    &:last-child::before {
     content: none;
    }

  }
  &__link {
    font-size: 12px;
    line-height: 14px;
    color: #212E33;
    &_active {
      color: $orange;
      text-decoration: underline;
      font-weight: 900;
    }
  }
}
