.hero {
  padding-bottom: 230px;
  background-image: url('../img/hero-bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &__inner {
    padding-top: 25vh;
  }
}
.hero-slider {
  color: #fff;
  &__caption {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    width: 950px;
    max-width: 100%;
  }
  &__description {
    margin-bottom: 50px;
    font-size: 19px;
    line-height: 40px;
    width: 950px;
    max-width: 100%;
  }
  &__btn {
    width: 190px;
    background-color: transparent;
    border: 1px solid #fff;
    transition: border-color .3s ease-in-out;
    &:hover {
      background-color: $orange;
      border-color: $orange;
      color: #fff;
    }
  }
  &__pagination {
    display: flex;
    justify-content: center;
    gap: 0 10px;
    .swiper-pagination-bullet {
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    .swiper-pagination-bullet-active {
      background-color: #fff;
    }
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    svg {
      width: 14px;
      height: 24px;
      fill: #fff;
    }
  }
}
.after-hero {
  background: linear-gradient(90deg, #E9F4FF 0%, #F8FAFB 48.44%, #E9F4FF 100%);
  backdrop-filter: blur(10px);
  padding-bottom: 100px;
}
.service {
  position: relative;
  margin-bottom: 70px;
  &__wr {
    margin-top: -115px;
    padding-top: 15px;
    padding-bottom: 15px;
    &_btn {
      @include r(1024) {
        margin-top: 0;
      }
    }
  }
  .swiper-slide {
    height: auto;
  }
  &__slider {
    padding: 15px 0;
    @include r(960) {
      padding: 15px 30px;
    }
  }
  &__item {
    position: relative;
    flex: 1 1 0;
    z-index: 50;
    height: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: all .3s ease-in-out;
box-sizing: border-box;
    &:hover {
      box-shadow: 0px 0px 20px #545D6C;
      .service__heading {
        background-color: $orange;
      }
      .service__icon {
        fill: #fff;
      }
      .service__caption {
        text-decoration: underline;
        color: $orange;
      }
    }
    &_more {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $orange;
      font-weight: 900;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      text-align: center;
      @include r(1024) {
        flex-direction: row;
        gap: 0 15px;
        padding: 15px;
      }
      .service__icon {
        fill: #fff;
        margin-bottom: 20px;
        @include r(1024) {
          margin-bottom: 0;
        }
      }
      &:hover {
        color: $orange;
        background-color: #fff;
        box-shadow: 0px 0px 30px rgba(144, 155, 173, 0.5);
        .service__icon {
          fill: $orange;
        }
      }
    }
  }
  &__heading {
    padding: 12px 30px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: background-color .3s ease-in-out;
  }
  &__icon {
    fill: $orange;
    transition: fill .3s ease-in-out;
  }
  &__content {
    padding: 30px 30px 40px;
    height: calc(100% - 61px);
    background-image: url('../img/serv-item-bg.png');
    background-color: #2FC8E4;
    -webkit-background-size: cover;
    background-size: cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

  }
  &__caption {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    transition: color .3s ease-in-out;
    @include r(1024) {
      font-size: 20px;
    }
  }
  &__description {
    font-size: 15px;
    line-height: 26px;
    color: #fff;
  }
  &__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.modules {
  @include r(960) {
    display: none;
  }
}
.modules-nav {
  display: flex;
  justify-content: space-between;
  &__button {
    padding: 15px;
    cursor: pointer;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: background-color .3s ease-in-out, filter .3s ease-in-out;
    max-width: 14%;
    &.is-active {
      background-color: #fff;
      //filter: drop-shadow(0px 0px 30px rgba(144, 155, 173, 0.5));
      .modules-nav__overlay {
        opacity: 0;
      }
      .modules-nav__caption {
        color: $orange;
      }
    }
    &:hover {
      .modules-nav__overlay {
        opacity: 0;
      }
    }
  }
  &__img {
    position: relative;
    margin-bottom: 16px;
    width: max-content;
    max-width: 100%;
    img {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }
  &__caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: color .3s ease-in-out;
    @include r(1280) {
      font-size: 14px;
    }
  }
}
.modules-content {
  padding: 30px;
  background-color: #fff;
  //filter: drop-shadow(0px 0px 30px rgba(144, 155, 173, 0.5));
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  &:first-of-type {
    border-top-left-radius: 0;
  }
  &:last-child {
    border-top-right-radius: 0;
  }
  &__caption {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
  }
  &__description {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 26px;
    color: $grey;
  }
}
.modules-mobile {
  display: none;
  @include r(960) {
    display: block;
  }
  img {
    border-radius: 20px;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    transition: opacity .3s ease-in-out;
  }
  &__caption {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 80;
    display: block;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    max-width: 300px;
    transition: opacity .3s ease-in-out;
  }
  &__open {
    position: relative;
  }
  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 60;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 48%;
    max-width: 48%;
    margin-bottom: 20px;
    padding: 10px 20px 30px;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color .3s ease-in-out, filter .3s ease-in-out;
    @include r(768) {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.is-open {
      background-color: #fff;
      filter: drop-shadow(0px 0px 30px rgba(144, 155, 173, 0.5));
      .modules-mobile__overlay,
      .modules-mobile__caption {
        opacity: 0;
      }
      .modules-mobile__close {
        opacity: 1;
      }
    }
  }
  &__description {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 26px;
    color: #909BAD;
  }
  &__title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__btn {
    margin: 0 auto;
  }
}
.about {
  padding-top: 70px;
  background-color: #fff;
  background-image: url('../img/sprite.svg#about-decor-left'), url('../img/sprite.svg#about-decor-right');
  background-position: left bottom, right bottom ;
  background-repeat: no-repeat;
  background-size: 622px;
  @include r(1280) {
    background-image: url('../img/sprite.svg#about-decor-left')
  }
  @include r(768) {
    background-image: url('../img/about-man-sm.png');
    -webkit-background-size: 30%;
    background-size: 30%;
    background-position: right bottom;
  }
  &__text{
    font-size: 15px;
    line-height: 26px;
    color: $grey;
    margin-bottom: 25px;
  }
  &__quotes {
    font-weight: 700;
    font-size: 120px;
    line-height: 144px;
    color: $orange;
  }
  &__caption {
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
  }
  &__wr {
    margin-bottom: 140px;
    @include r(1024) {
      margin-bottom: 0;
    }
  }
}

.projects {
  padding: 70px 0 175px;
  background-image: url('../img/projects-bg.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  .swiper-slide {
    height: calc((100% - 30px) / 2) !important;
    @include r(576) {
      height: auto;
    }
  }
  &__slider {
    position: relative;
    @include r(576) {
      padding: 0 30px;
    }
  }
  &__navigation {
    position: absolute;
    top: 50%;
  }
  &__title {
    color: #fff;
  }
  &__row {
    gap: 30px 0;
  }
  &__item {
    position: relative;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow .3s ease-in-out;
    box-sizing: border-box;
    &:hover {
      box-shadow: 0px 0px 20px #545D6C;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4990371148459384) 50%, rgba(255,255,255,0) 100%);
    }
  }
  img {
    position: relative;
    z-index: 10;
    display: block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 100%;
  }
  &__description {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 30px 120px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 10;
    background-image: url('../img/projects-description-bg.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 19px;
    line-height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    @include r(1440) {
      padding: 30px;
    }
    b {
      font-weight: 700;
    }
  }
  &__item:hover .projects__description {
    opacity: 1;
  }
  &__btn {
    margin: 50px auto 0;
    padding: 0 50px;
  }
}
.honors {
  padding: 70px 0 110px;
  background-color: #fff;
  .honors-slider {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    @include r(576) {
      display: block;
      text-align: center;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }

    &.swiper-slide-prev::before {
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4990371148459384) 70%, rgba(255,255,255,0) 100%);
    }
    &.swiper-slide-next::before {
      background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4990371148459384) 70%, rgba(255,255,255,0) 100%);
      right: 0;
    }
    &.swiper-slide-active::before {
      opacity: 0;
    }
  }
  &__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0 25px;
    @include r(576) {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  &__caption {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #909BAD;
  }
  &__year {
    font-weight: 900;
    font-size: 70px;
    line-height: 84px;
    background: linear-gradient(115.36deg, #E24230 0%, #FFC0B9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  &__span {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: right;
    color: #909BAD;
    width: 100%;
    @include r(768) {
      text-align: left;
    }
    @include r(576) {
      text-align: center;
    }
  }
  &__link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  img {
    display: block;
    margin-right: 48px;
    flex: 0 0 auto;
    @include r(576) {
      margin: 0 auto 15px;
    }
   }
}

/* events */
.events {
  padding: 70px 0 275px;
  background-image: url('../img/events-bg.png');
  -webkit-background-size: cover;
  background-size: cover;
  &__title {
    color: #fff;
  }
  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 100px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    flex: 0 0 47%;
    @include r(960) {
      flex:1 1 100%;
    }
  }

  &__inner {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: #fff;
    border: 1px solid;
    margin-left: 110px;
    width: calc(100% - 110px);
    padding-left: 130px;
    @include r(960) {
      width: 100%;
    }
    @include r(480) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
    }
  }

  &__date {
    margin-bottom: 32px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182px;
    height: 36px;
    text-align: center;
    background-color: #E24230;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    border: 1px solid;
    border-top: none;
    /*border-image-source: linear-gradient(rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0.3) 30%);*/
    @include r(480) {
      border-top: 1px solid #fff;
      margin-right: auto;
      margin-top: 20px;
    }
  }

  &__caption {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    max-width: 280px;
    @include r(576) {
      text-align: center;
      margin: 0 auto 10px;
      .events__status {
        padding: 0 15px;
      }
    }
  }
  &__img {
    display: block;
    margin-right: 20px;
    z-index: 100;
    position: absolute;
    left: -110px;
    top: -20px;
    @include r(480) {
      position: static;
      margin: -20px auto 0;
    }
  }

  &__hidden {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    text-align: left;
    -webkit-transition: 0.3s opacity ease-in-out;
    transition: 0.3s opacity ease-in-out;
    padding: 0 16px 0 120px;
    border-radius: 20px;
    z-index: 1;
    @include r(480) {
      display: none;
    }
  }
  &__item:hover .events__hidden {
    opacity: 1;
  }

  &__hidden p,
  &__hidden li {
    line-height: 18px;
    color: #909BAD;
    font-size: 13px;
  }
  &__near {
    position: absolute;
    bottom: -12px;
    right: -12px;
    -webkit-transition: 0.3s opacity ease-in-out;
    transition: 0.3s opacity ease-in-out;
    opacity: 1;
  }
  &__item:hover &__near {
    opacity: 0;
  }
  &__mobile {
    display: none;
    @include r(480) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }
  &__btn {
    @include r(480) {
      padding: 16px 43px;
      max-width: 250px;
      width: 250px;
      font-weight: 900;
      line-height: 19px;
      color: #fff;
      background: #e24230;
      border-radius: 50px;
      cursor: pointer;
      display: block;
      margin-bottom: 5px;
    }
  }
  &__active {
    @include r(480) {
      .events__inner{
        padding-bottom: 70px;
      }
    }
  }
  &__status {
    margin-bottom: 41px;
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
    display: inline-block;
    @include r(576) {
      display: block;
      text-align: center;
    }
  }
  &__cta {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    padding: 4px 12px;
    font-weight: bold;
    color: #fff;
    background-color: #f91b3a;
    border-radius: 20px;
    @include r(576) {
      .events__cta {
        margin-left: 0;
        padding: 4px 10px;
      }
    }
  }
  &__description {
    position: relative;
    z-index: 10000000000000;
    display: none;
    width: 1440px;
    max-width: 100%;
    max-height: 80vh;
    padding-top: 20px;
    margin-bottom: 0;
  }
}
.feedback {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url('../img/feedback-bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  &_main {
    padding-top: 0;
    .feedback__wrapper {
      margin-top: -108px;
    }
  }
  &__wrapper {
    position: relative;
    padding: 5px;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 460px;
      height: 460px;
      background-color: #fff;
      filter: blur(100px);
      max-width: 100%;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4990371148459384) 50%, rgba(255,255,255,0) 100%);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }
  }
  &__heading {
    background: linear-gradient(180deg, rgba(47, 152, 228, 0.75) 0%, rgba(21,100,167, 1) 100%);
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    @include r(1280) {
      padding: 0 20px;
    }
  }
  &__caption {
    padding: 15px 0;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    @include r(576) {
      font-size: 18px;
    }
  }
  &__content {
    position: relative;
    z-index: 10;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 32px 0 35px;
  }
  &__subtitle {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    color: #253E5B;
    @include r(576) {
      font-size: 20px;
    }
  }
}
