<section class="advantages section">
  <div class="container">
    <div class="row advantages__row">
      <div class="col-xl-10 offset-xl-1">
        <h2 class="title-h2 advantages__title">Преимущества</h2>
        <ul class="advantages__list flex">
          <li class="advantages__item">
            <img width="108" height="108" src="assets/img/sprite.svg#adv-01" alt="" class="advantages__img">
            <p class="advantages__caption">Локальный продукт</p>
            <div class="advantages__hide advantages-hide">
              <div class="advantages-hide__heading">
                <img src="assets/img/sprite.svg#adv-01" alt="" class="advantages-hide__img">
                <p class="advantages-hide__caption">Локальный продукт</p>
              </div>
              <p class="advantages-hide__description">Данные загружаются на наш сервер, и больше нет необходимости в
                физических носителях, поэтому история болезни пациента больше не потеряется и не перепутается</p>
            </div>
          </li>
          <li class="advantages__item">
            <img width="108" height="108" src="assets/img/sprite.svg#adv-02" alt="" class="advantages__img">
            <p class="advantages__caption">Свобода выбора аппаратной платформы</p>
            <div class="advantages__hide advantages-hide">
              <div class="advantages-hide__heading">
                <img src="assets/img/sprite.svg#adv-02" alt="" class="advantages-hide__img">
                <p class="advantages-hide__caption">Свобода выбора аппаратной платформы</p>
              </div>
              <p class="advantages-hide__description">Все данные исследований по пациенту, загруженные в APIX, доступны
                в любом регионе, и удобны для динамического наблюдения</p>
            </div>
          </li>
          <li class="advantages__item">
            <img width="108" height="108" src="assets/img/sprite.svg#adv-03" alt="" class="advantages__img">
            <p class="advantages__caption">Интероперабельность</p>
            <div class="advantages__hide advantages-hide">
              <div class="advantages-hide__heading">
                <img src="assets/img/sprite.svg#adv-03" alt="" class="advantages-hide__img">
                <p class="advantages-hide__caption">Интероперабельность</p>
              </div>
              <p class="advantages-hide__description">Вы можете найти похожие случаи среди боле 1 045 000 диагнозов,
                исследований и историй болезни, а также обсудить их с коллегами в режиме исследования пациента хранится
                месте, и можно ннн-лайн.в одном </p>
            </div>
          </li>
          <li class="advantages__item">
            <img width="108" height="108" src="assets/img/sprite.svg#adv-04" alt="" class="advantages__img">
            <p class="advantages__caption">Совместимость</p>
            <div class="advantages__hide advantages-hide">
              <div class="advantages-hide__heading">
                <img src="assets/img/sprite.svg#adv-04" alt="" class="advantages-hide__img">
                <p class="advantages-hide__caption">Совместимость</p>
              </div>
              <p class="advantages-hide__description">Система умеет определять по снимкам признаки различных
                заболеваний, в том числе онкологические процессы, и поражение лёгких при COVID-19</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
