<div class="container">
  <div class="row">
    <div class="offset-xl-2 col-xl-8 col-lg-12">
      <div class="feedback__wrapper">
        <div class="feedback__heading">
          <p class="feedback__caption">Если у вас возникли вопросы или хотите проконсультироваться, заполните данную
            форму</p>
        </div>
        <div class="feedback__content">
          <form action="" class="form feedback__form">
            <div class="form__group mb-3">
              <label for="name" class="form__label feedback__label">
                <input
                  type="text"
                  class="form__input"
                  id="name"
                  name="name"
                  placeholder="Имя"
                >
              </label>
              <label for="phone" class="form__label feedback__label">
                <input
                  type="tel"
                  class="form__input phone-mask"
                  id="phone"
                  name="phone"
                  placeholder="+7 (___) ___ - __ - __"
                  inputmode="tel"
                >
              </label>
            </div>
            <div class="form__group mb-4">
              <label for="conf" class="checkbox__label">
                <input
                  type="checkbox"
                  class="checkbox form__checkbox feedback__checkbox js-enabled-submit"
                  id="conf"
                  name="conf"
                >
                <span class="checkbox__pane"></span>
                Я согласен(а) на <a href="">обработку персональных данных</a>
              </label>
            </div>
            <p class="feedback__subtitle">В подарок: презентация о системе <span>AP/IX</span></p>
            <button class="btn btn-rest form__submit feedback__btn" type="submit" disabled>Записаться</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
