<footer class="footer">
  <div class="container">
    <div class="row mb-4">
      <div class="col-8 col-sm-3 col-lg-2 order-1 order-lg-0">
        <a href="/" class="footer__logo logo">
          <svg width="150" height="45">
            <use xlink:href="assets/img/sprite.svg#logo"></use>
          </svg>
<!--          <p class="logo__slogan">Разрабатываем с 2019 года</p>-->
        </a>
      </div>
      <div class="col-lg-7 col-sm-1 col-2  position-static">
        <button class="burger btn-reset js-open-mobile-menu">
          <span></span><span></span><span></span>
        </button>
        <nav class="nav header__nav js-mobile-menu">
          <button class="btn-reset close js-close-mobile-menu">
            <svg width="35" height="35">
              <use xlink:href="/assets/img/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <ul class="nav__list">
            <li class="nav__item">
              <a href="" class="nav__link">Услуги</a>
            </li>
            <li class="nav__item"><a href="" class="nav__link">Модули</a></li>
            <li class="nav__item"><a href="" class="nav__link">Проекты</a></li>
            <li class="nav__item"><a href="" class="nav__link">Мероприятия</a></li>
            <li class="nav__item nav__item nav__item_sub">
              <a href="" class="nav__link">О компании</a>
              <ul class="sub-menu">
                <li class="sub-menu__item"><a href="" class="sub-menu__link">О нас</a></li>
                <li class="sub-menu__item"><a href="" class="sub-menu__link">Новости</a></li>
              </ul>
            </li>
            <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-2 col-sm-8 col-lg-3 col-md-8 order-2 order-lg-0">
        <a href="tel:+74999597146" class="top-phone footer__phone"><span>+7 499 959 71 46</span></a>
        <a href="" class="btn btn-reset top-presentation footer__presentation">
          <svg width="16" height="22">
            <use xlink:href="assets/img/sprite.svg#icon-pdf"></use>
          </svg>
          <span>Скачать презентацию</span>
        </a>
      </div>
    </div>
    <a href="" class="btn btn-reset top-presentation footer__presentation d-flex d-sm-none">
      <svg width="16" height="22">
        <use xlink:href="assets/img/sprite.svg#icon-pdf"></use>
      </svg>
      <span>Скачать презентацию</span>
    </a>
    <div class="row justify-content-between mb-4">
      <div class="col-md-6">
        <ul class="footer__contacts">
          <li class="footer__item">Адрес: г. Москва, ул. Новодмитровская д2, корп. 1, эт 14 пом. XCII</li>
          <li class="footer__item">ОГРН 1187746797655</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="footer__flex">
          <a href="" class="footer__habr">
            <img src="assets/img/habr-icon.png" alt="">
            <svg width="96" height="14">
              <use xlink:href="assets/img/sprite.svg#habr"></use>
            </svg>
          </a>
          <a href="mailto:info@aitico.ru" class="footer__mail">
            <svg width="17" height="12">
              <use xlink:href="assets/img/sprite.svg#icon-mail"></use>
            </svg>
            info@aitico.ru
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-6">
        <p class="footer__copyright">&copy; 2023 ООО «Айтико»</p>
      </div>
      <div class="col-6">
        <p class="footer__copyright footer__copyright_right">Разработано в <a href="http://digital.tools/" target="_blank" rel="nofollow">Digital.Tools</a></p>
      </div>
    </div>
  </div>
</footer>
