<section class="materials">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2 materials__title text-left">Справочные материалы</h2>
      </div>
      <div class="col-12 ">
        <div class="materials__list js-materials-slider swiper">
          <div class="swiper-wrapper">
            <div class=" materials__item swiper-slide">
              <div class="materials__img">
                <img class="" src="assets/img/modules-img.jpg" alt="">
                <div class="materials__overlay"></div>
                <svg width="30" height="42" class="materials__icon">
                  <use xlink:href="assets/img/sprite.svg#icon-pdf"></use>
                </svg>
              </div>
              <p class="materials__caption">10 золотых правил видеоинтеграций в операционной</p>
              <a href="" class="materials__link"></a>
            </div>
            <div class=" materials__item swiper-slide">
              <div class="materials__img">
                <img class="" src="assets/img/modules-img.jpg" alt="">
                <div class="materials__overlay"></div>
                <svg width="30" height="42" class="materials__icon">
                  <use xlink:href="assets/img/sprite.svg#icon-pdf"></use>
                </svg>
              </div>
              <p class="materials__caption">Система управления, обработки, хранения медицинских изображений и данных «Апикс» («Apix»)</p>
              <a href="" class="materials__link"></a>
            </div>
            <div class=" materials__item swiper-slide">
              <div class="materials__img">
                <img class="" src="assets/img/modules-img.jpg" alt="">
                <div class="materials__overlay"></div>
                <svg width="30" height="42" class="materials__icon">
                  <use xlink:href="assets/img/sprite.svg#icon-pdf"></use>
                </svg>
              </div>
              <p class="materials__caption">Система управления, обработки, хранения медицинских изображений и данных «Апикс» («Apix»)</p>
              <a href="" class="materials__link"></a>
            </div>
            <div class=" materials__item swiper-slide">
              <div class="materials__img">
                <img class="" src="assets/img/modules-img.jpg" alt="">
                <div class="materials__overlay"></div>
                <svg width="30" height="42" class="materials__icon">
                  <use xlink:href="assets/img/sprite.svg#icon-pdf"></use>
                </svg>
              </div>
              <p class="materials__caption">AP/IX - система цифрового диагностического архива медицинских изображений</p>
              <a href="" class="materials__link"></a>
            </div>
            <div class=" materials__item swiper-slide">
              <div class="materials__img">
                <img class="" src="assets/img/modules-img.jpg" alt="">
                <div class="materials__overlay"></div>
                <svg width="30" height="42" class="materials__icon">
                  <use xlink:href="assets/img/sprite.svg#icon-pdf"></use>
                </svg>
              </div>
              <p class="materials__caption">Справка XERO Viewer</p>
              <a href="" class="materials__link"></a>
            </div>
            <div class=" materials__item swiper-slide">
              <div class="materials__img">
                <img class="" src="assets/img/modules-img.jpg" alt="">
                <div class="materials__overlay"></div>
                <svg width="30" height="42" class="materials__icon">
                  <use xlink:href="assets/img/sprite.svg#icon-pdf"></use>
                </svg>
              </div>
              <p class="materials__caption">Комплекс преобразования медицинских данных для хирургии</p>
              <a href="" class="materials__link"></a>
            </div>
          </div>
          <div class="slider-navigation slider-navigation_grey slider-navigation_left materials-button-next">
            <svg>
              <use xlink:href="assets/img/sprite.svg#nav-left"></use>
            </svg>
          </div>
          <div class="slider-navigation slider-navigation_grey slider-navigation_right materials-button-prev">
            <svg>
              <use xlink:href="assets/img/sprite.svg#nav-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
