<section class="reviews">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2 reviews__title">Отзывы от наших партнёров</h2>
      </div>
      <div class="col-xl-10 offset-xl-1">
        <div class="reviews__list swiper js-reviews-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide reviews__item">
              <div class="reviews__heading">
                <div class="reviews__logo">
                  <div class="reviews__logo-inner">
                    <img src="assets/img/rev-logo-01.png" alt="">
                  </div>
                </div>
                <p class="reviews__caption">Agfa <br>
                  HealthCare</p>
              </div>
              <p class="reviews__content">Agfa-Gevaert Group разрабатывает, производит и распространяет широкий спектр
                аналоговых и цифровых систем обработки изображений и ИТ-решений, в основном для полиграфической
                промышленности и сектора здравоохранения, а также для конкретных промышленных применений.</p>
            </div>
            <div class="swiper-slide reviews__item">
              <div class="reviews__heading">
                <div class="reviews__logo">
                  <div class="reviews__logo-inner">
                    <img src="assets/img/rev-logo-01.png" alt="">
                  </div>
                </div>
                <p class="reviews__caption">Agfa <br>
                  HealthCare</p>
              </div>
              <p class="reviews__content">Agfa-Gevaert Group разрабатывает, производит и распространяет широкий спектр
                аналоговых и цифровых систем обработки изображений и ИТ-решений, в основном для полиграфической
                промышленности и сектора здравоохранения, а также для конкретных промышленных применений.</p>
            </div>
            <div class="swiper-slide reviews__item">
              <div class="reviews__heading">
                <div class="reviews__logo">
                  <div class="reviews__logo-inner">
                    <img src="assets/img/rev-logo-01.png" alt="">
                  </div>
                </div>
                <p class="reviews__caption">Agfa <br>
                  HealthCare</p>
              </div>
              <p class="reviews__content">Agfa-Gevaert Group разрабатывает, производит и распространяет широкий спектр
                аналоговых и цифровых систем обработки изображений и ИТ-решений, в основном для полиграфической
                промышленности и сектора здравоохранения, а также для конкретных промышленных применений.</p>
            </div>
            <div class="swiper-slide reviews__item">
              <div class="reviews__heading">
                <div class="reviews__logo">
                  <div class="reviews__logo-inner">
                    <img src="assets/img/rev-logo-01.png" alt="">
                  </div>
                </div>
                <p class="reviews__caption">Agfa <br>
                  HealthCare</p>
              </div>
              <p class="reviews__content">Agfa-Gevaert Group разрабатывает, производит и распространяет широкий спектр
                аналоговых и цифровых систем обработки изображений и ИТ-решений, в основном для полиграфической
                промышленности и сектора здравоохранения, а также для конкретных промышленных применений.</p>
            </div>
          </div>
          <div class="slider-navigation slider-navigation_grey slider-navigation_left reviews-button-next">
            <svg>
              <use xlink:href="assets/img/sprite.svg#nav-left"></use>
            </svg>
          </div>
          <div class="slider-navigation slider-navigation_grey slider-navigation_right reviews-button-prev">
            <svg>
              <use xlink:href="assets/img/sprite.svg#nav-right"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
