<section class="steps section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title-h2 steps__title">Схема внедрения AP/IX</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-10 offset-xl-1">
        <ul class="steps__list">
          <li class="steps__item">
            <div class="steps__number">1</div>
            <svg>
              <use xlink:href="assets/img/sprite.svg#step-icon"></use>
            </svg>
            <p class="steps__caption">Оставьте заявку <br>на сайте</p>
          </li>
          <li class="steps__item">
            <div class="steps__number">2</div>
            <svg>
              <use xlink:href="assets/img/sprite.svg#step-icon"></use>
            </svg>
            <p class="steps__caption">Мы направим Вам <br> опросник для заполнения</p>
          </li>
          <li class="steps__item">
            <div class="steps__number">3</div>
            <svg>
              <use xlink:href="assets/img/sprite.svg#step-icon"></use>
            </svg>
            <p class="steps__caption">Специалисты подберут <br>для Вас решение</p>
          </li>
          <li class="steps__item">
            <div class="steps__number">4</div>
            <svg>
              <use xlink:href="assets/img/sprite.svg#step-icon"></use>
            </svg>
            <p class="steps__caption">Согласование <br>и подписание договора</p>
          </li>
          <li class="steps__item">
            <div class="steps__number">5</div>
            <svg>
              <use xlink:href="assets/img/sprite.svg#step-icon"></use>
            </svg>
            <p class="steps__caption">Подготовка и внедрение <br>системы в медучереждение</p>
          </li>
          <li class="steps__item">
            <div class="steps__number">6</div>
            <svg>
              <use xlink:href="assets/img/sprite.svg#step-icon"></use>
            </svg>
            <p class="steps__caption">Обучение специалистов <br>работе в системе</p>
          </li>
          <li class="steps__item">
            <div class="steps__number">7</div>
            <svg>
              <use xlink:href="assets/img/sprite.svg#step-icon-red"></use>
            </svg>
            <p class="steps__caption">Ваше лечебное учреждениям <br>интегрированно с PACS</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
